@model EFT.Models.Artists

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artists</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<ul>

    <li>@Model.ArtistDetails.Bio</li>
    @foreach (var album in Model.Albums)
    {
        <li>@album.Title</li>

    }
</ul>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArtistsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>